name: Manual-Maven
on:
    pull_request:
        branches:
            - main
    workflow_dispatch:
permissions:
    contents: read
    checks: write
    pull-requests: write

jobs:
    manual:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                java: [17, 21]
                # os: ['ubuntu-24.04', 'Windows']
        steps:
            - name: checkout
              uses: actions/checkout@v5
            - name: setup eclipse temurin
              uses: actions/setup-java@v5
              with:
                  distribution: "temurin" # See 'Supported distributions' for available options
                  java-version: ${{matrix.java}}
                  cache: maven
            - id: build
              name: Build the package
              shell: bash
              run: mvn '${{vars.GOAL}}'
            - name: Publish Test Results
              uses: EnricoMi/publish-unit-test-result-action@v2
              with:
                  files: |
                      **/target/surefire-reports/*.xml
            - uses: actions/upload-artifact@v4
              with:
                  name: spring-petclinic-${{matrix.java}}.jar
                  path: "**/target/*.jar"

            - name: send email on failure
              if: failure()
              run: echo "everything seems problematic"

            - name: send email on success
              if: ${{steps.build.outcome == 'success'}}
              uses: dawidd6/action-send-mail@v3
              with:
                  server_address: sandbox.smtp.mailtrap.io
                  server_port: 587

                  # Enable below only if your SMTP needs TLS
                  secure: false

                  username: 6eddd344cf99f7
                  password: 7a1891a921053b

                  subject: "GitHub Action Notification"
                  to: "inbox@mailtrap.io"
                  from: "rekulapallyrohith@gmail.com"
                  body: |
                      Hello,

                      This is an automated email from GitHub Actions.

                      Regards,
                      GitHub CI
