name: Manual-Maven
on:
    pull_request:
        branches:
            - main
    workflow_dispatch:
permissions:
    contents: read
    checks: write
    pull-requests: write

jobs:
    manual:
        runs-on: ubuntu-24.04
        steps:
            - name: checkout
              uses: actions/checkout@v5
            - name: setup eclipse temurin
              uses: actions/setup-java@v5
              with:
                  distribution: "temurin" # See 'Supported distributions' for available options
                  java-version: "21"
                  cache: maven
            - name: Build the package
              shell: bash
              run: mvn '${{vars.GOAL}}'
            - name: Publish Test Results
              uses: EnricoMi/publish-unit-test-result-action@v2
              with:
                  files: |
                      **/target/surefire-reports/*.xml
            - uses: actions/upload-artifact@v4
              with:
                  name: spring-petclinic-jar
                  path: "**/target/*.jar"
