name: Manual-Maven
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read
  checks: write
  pull-requests: write
  security-events: write
  actions: read

jobs:
  call-reusable:
    uses: ./.github/workflows/reusable-mvn.yaml
    with:
      java_version: '21'
      agent: 'ubuntu-latest'
