name: Reusable CI for java with maven

on: 
    workflow_call:
      inputs:
        java_version:
            description: Java version to use
            required: false
            default: '17'
            type: string
        agent:
            description: Where to run
            required: false
            default: 'ubuntu-latest'
            type: string
permissions:
  contents: read
  checks: write
  pull-requests: write
  security-events: write
  actions: read

jobs:
  manual:
    runs-on: ${{inputs.agent}}
    steps:
      - id: step1
        name: checkout
        uses: actions/checkout@v5
      - id: step2
        name: setup eclipse temurin
        uses: actions/setup-java@v5
        with:
          distribution: "temurin" # See 'Supported distributions' for available options
          java-version: ${{inputs.java_version}}
          cache: maven
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{steps.step2.outputs.java-version}}
      - id: step3
        name: Build the package
        shell: bash
        run: mvn '${{vars.GOAL}}'
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
      - id: step4
        name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            **/target/surefire-reports/*.xml
      - id: step5
        uses: actions/upload-artifact@v4
        with:
          name: spring-petclinic.jar
          path: "**/target/*.jar"

